body{
	text-align: center;
	background: lightgray;
	font-family: Baskerville;
	padding: 20px;
}


h1{
	font-size: 40px;
	font-family: Helvetica;
	border: solid;
	padding: 20px;
}

footer{
	text-align: center;
	background: #667F69;
}

img{
	max-width: 40px;
}

footer{
	padding-bottom: 30px;
	padding-top: 20px;

}