h1{
font-size: 34px;
color: #667F69;
font-family: Baskerville;
}

h2{
color: blue;
font-size: 25px;
}
.big{
font-size: 65px;
}

.uppercase{
text-transform: uppercase;
}

span{
color: yellow;
}

h1 span{
color: violet;
}

body{
	background: green;
}

h1{
	color: blue
}